.header{
    padding: 1rem 0;
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-list{
            margin: 0;
            list-style: none;
            padding: 0;
        }
    }
}